<div class="script">
	<p>Hi, my name is _____ and I am Petco customer.</p>

	<p>I don't want Petco to use Goldman Sachs for its stock offering. Goldman Sachs has a record of cheating and bankrupting its clients, and I don't want this to happen to Petco.</p>

	<p>Please call me back at [your phone number] and tell me how you are going to respond to my concerns about Goldman Sachs.</p>

	<p>Thank you for your time.</p>
</div>

<h5>Tips</h5>

<ul>
	<li>Be friendly and polite - the person picking up the phone will find it hard to ignore you if you are polite. </li>
	<li>Keep it short.</li>
	<li>Don’t feel like you have to answer any specific questions if you don’t feel comfortable. </li>
</ul>
