<div class="script">
	<p>Hi my name is <span class="your_name">________</span></p>

	<p>Can I please speak to Minister Greg Hunt? <em>(They will probably say that you should leave him a message)</em></p>

	<p>I’m calling Minister Hunt to tell him that I’m someone who cares deeply about our Great Barrier Reef, and so I’m asking him to not re-approve the Carmichael coal mine.</p>

	<p>The mine is damaging to our climate and will ruin our Great Barrier Reef. Can you pass this message to Minister Hunt please? </p>

	<p>Thank you for your time.</p>
</div>

<h5>Tips</h5>

<ul>
	<li>Be friendly and polite - the person picking up the phone will find it hard to ignore you if you are polite. </li>
	<li>Keep it short.</li>
	<li>Don’t feel like you have to answer any specific questions if you don’t feel comfortable. </li>
</ul>
