<p><em>What if they ask who asked me to call?</em><br/>
Tell the person that you’re a member of a global organisation called SumOfUs, which runs campaigns to keep corporations accountable. Tell them you’re calling as someone who is concerned about our Great Barrier Reef and that you want to see it protected. </p>

<p><em>What if they ask me if I’m a member of Minister Hunt’s electorate?</em><br/>
Tell the person if you are and in what suburb you live, because politicians are more likely to listen to people who are in their constituency.<br/></br/>
Even if you’re not, Minister Hunt is the Environment Minister and he makes decisions that affect our entire country, so he should be held accountable to all of us. </p>

<p><em>What if the person asks me a question you can’t answer?</em><br/> 
It’s ok to say you don’t know. Just say that you’re a person who cares about the Reef and you don’t want to see it destroyed, and that you want to pass on that message. </p>

<p><em>What if I’m not connected?</em><br/>
The line may be busy - sorry about that. But please do try again later if possible. </p>

<p><em>Can I tell you how it went?</em> <br/>
Please do! Fill out <a href="">this form here.</a></p> 