---
facebook_title: Call For the Reef!
facebook_description: ''
twitter_text: ''
email_subject: Call For the Reef!
email_body: Hey, check out this site and call today! http://callforthereef.org/
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="{{page.facebook_description}}">
    <meta name="author" content="SumOfUs">
    <meta property="og:title" content="{{page.facebook_title}}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://www.callforthereef.org/"/>
    <meta property="og:image" content="http://www.callforthereef.org/img/share.png"/>
    <meta property="og:site_name" content="Call For the Reef"/>
    <meta property="fb:admins" content="701690" />
    <meta property="og:description" content="{{page.facebook_description}}"/>
    

    <link href="css/styles.css?t={{  site.time | date: '%s' }}" rel="stylesheet">
    <link href="css/fontello.css?t={{  site.time | date: '%s' }}" rel="stylesheet">

    <title>Call For the Reef</title>

    <script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="js/jquery.formatter.min.js"></script>
    <script type="text/javascript" src="js/main.js?t={{  site.time | date: '%s' }}"></script>

    {% include analytics.html %}
    <link rel="icon" type="image/png" href="img/favicon.png">

</head>
<body>
  <div id="wrapper">
    <div id="header" class="section">
      <div class="container">
        <a href="http://sumofus.org/" class="logo">
          <img src="img/logo-shadow.png" alt="SumOfUs">
        </a>
        <p class="tagline">Fighting for people over profits</p>
      </div>
    </div>

    <div id="mast">
      <div class="wrapper">
        <div class="headline">
          <h2>Stop the Carmichael coal mine!</h2>
        </div>
      </div>
    </div>

    <div class="container">    
      <div id="content">
        <h5>The Federal Court just overturned the approval of the Carmichael coal mine but in the next 6 to 8 weeks, it could be re-approved.</h5>

        <form id="phoneForm">
            <div class="row">
              <h5><b>Can you call Environment Minister Hunt’s office now and tell him to reject the mine for good?</b></h5>
            </div>

            <div class="row">
              <div class="two-thirds column">
                <input id="email" name="email" class="u-full-width" placeholder="your email" type="email"/>
              </div>
            </div>
            <div class="row">
              <div class="two-thirds column">
                <div class="input-wrapper u-full-width">
                  <input id="phone" name="phone" placeholder="your phone number and area code" type="tel"/><i class="input-icon"></i>
                  <div class="help-text"></div>
                </div>
                
              </div>
              <div class="one-third column pull-right">
                <button type="submit" class="button-primary">Call</button>
              </div>
            </div>
        </form>

        <p class="small">
            If you enter your number above, <strong>we'll call you</strong> to connect you with the Environment Minister's offices.
        </p>
      </div>

      <div class="overlay">
        <div class="modal">
          <div class="inner">
              <a class="btn close">&times;</a>
              {% include call_modal_top.html %}
              {% include call_script.html %}

              <div class="button-row">
                  <a class="btn facebook" target="_blank" href="https://www.facebook.com/sharer.php?u=https://www.callforthereef.org">Facebook</a>
                  <a class="btn twitter" target="_blank" href="https://twitter.com/intent/tweet?text={{page.twitter_text | uri_escape}}">Twitter</a>
                  <a class="btn email" target="_blank" href="mailto:?Subject={{page.email_subject | uri_escape}}&Body={{page.email_body | uri_escape}}">Email</a>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="footer" class="container">
    <ul class="iphone-hidden">
      <li><a href="http://sumofus.org/">Home</a></li>
      <li><a href="http://sumofus.org/about">About</a></li>
      <li><a href="http://sumofus.org/privacy">Privacy Policy</a></li>
      <li><a href="http://sumofus.org/contact">Contact</a></li>
    </ul>
    <p class="copyright"><i class="icon-cc"></i> 2015 SumOfUs, <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution 3.0 Unported License</a>.</p>
  </div>

</body>
</html>
