.iphone-hidden { display: none; }


@media only screen and (min-width: 480px) {
  .iphone-hidden {
    display: inline-block;
  }
}

@media only screen and (max-width: 800px) {
	#callForm {
	  	border: 0;
	  	padding: 0;

	  	label {
	  		height: 24px;
	  	}

		input, button {
			font-size: 14px;
		}
	}
}

@media only screen and (max-width: 1000px) {
	#mast {
		&.hide-image {
			.headline { min-height: 125px; }
		}
	}
}