.iphone-hidden { display: none; }

@media only screen and (min-width: 605px) {
  .iphone-hidden {
    display: inline-block;
  }
}

@media only screen and (max-width: 800px) {
	#callForm input, button {
		font-size: 14px;
	}
}