body {
	font-family: "myriad-pro", "Myriad Pro", "Myriad", Arial, sans-serif;
	font-size: 14px;
	color: #555555;
	background-color: #f3f3f3;
	line-height: 1.4em;
	text-shadow: 1px 1px 1px #fff;
}

a {
	text-decoration: none;
	z-index: 10;
}

.section {
	clear: both;
	width: 100%;
}

.align-right {
	text-align: right;
}

#header {
	height: 50px;
}

#header a.logo {
	height: 100%;
	display: inline-block;
	text-align: center;
	position: absolute;
}

#header .tagline {
	left: 125px;
	font-size: 20px;
	padding: 15px 0 0 0;
	font-style: italic;
	font-weight: bold;
	position: absolute;
}

#mast {
	background: url('/static/img/mast-petco.jpg') no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 300px;

	.wrapper {
		padding-top: 300px;
		width: 100%;
	}

	.headline {
		background: rgba(0, 0, 0, 0.5);
	}

	.wrapper-container {
		max-width: 960px;
		padding: 10px 40px;
		margin: 0 auto;
	}

	h2 {
		color: white;
		text-shadow: 1px 1px 1px #555;
		text-align: left;
		margin-bottom: 0;
	}

	&.hide-image {
		background: none;
		min-height: 100px;
		.wrapper {
			padding-top: 0;
		}
		.headline {
			position: relative;
			min-height: 75px;
		}
		h2 {
			position: absolute;
			left: 125px;
		}
	}
}

#content {
	padding: 20px 40px 150px 40px;
	background: white;
}

#callForm {
	border: 1px solid #04ACBE;
	border-radius: 4px;
	padding: 25px 40px 25px 40px;
}

#callForm label {
	height: 48px;
	font-size: 18px;
	font-weight: normal;
	font-style: italic;

	margin-top: 15px;
	margin-bottom: 0;
}

#callForm input {
	height: 48px;
	font-size: 20px;
}

#callForm button {
	height: 47px;
	font-size: 20px;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #aaa;
}

#callForm button.complete {
	background-color: green;
	border-color: green;
}

.input-wrapper {
	position: relative;
	input { width: 100%; }

	.input-icon {
		font-size: 20px;
		position: absolute;
		right: 5px;
		top: 15px;
	}
	.error { color: red; }
	.valid { color: green; }
}

.help-text {
	margin-bottom: 10px;
}

.faq {
	border-top: 1px solid #d0d0d0; 
	padding-top: 20px;
}

.script {
	text-align: left;
	font-family: monospace;
}

.row.share {
	margin-bottom: 20px;
}

.share .btn {
	display: inline-block;
	margin: 0 10px;
	padding: 0;
	width: 200px;
	height: 60px;
	a { text-shadow: none; }
}

#footer {
	padding: 40px 40px 0 40px;
	border-top: 1px solid #d0d0d0;
}

#footer ul li {
	float: left;
	list-style: none;
}

#footer ul li a {
	font-size: 18px;
	font-weight: 700;
	margin-right: 25px;
	text-shadow: 1px 1px 1px #ffffff;
	text-transform: uppercase;
}
