body {
	font-family: "myriad-pro", "Myriad Pro", "Myriad", Arial, sans-serif;
	font-size: 14px;
	color: #555555;
	line-height: 1.4em;
	text-shadow: 1px 1px 1px #fff;
}

a {
	text-decoration: none;
}

.section {
	clear: both;
	width: 100%;
}

form .submit {
	background: #dc6134;
	color: #ffffff;
	float: right;
	font-size: 16px;
	margin: 10px 0 0 0;
	padding: 10px 20px;
	width: auto;
}

#header {
	padding: 10px 0;
	background-color: rgb(4, 172, 190);
	background-image: url(../img/bg-texture.gif);
}

#header a.logo {
	background: white;
	height: 100%;
	display: inline-block;
	padding: 10px;
	text-align: center;
	img { width: 75%; }
}

#header .tagline {
	display: inline-block;
	left: 125px;
	font-size: 20px;
	padding: 15px 0 0 0;
	font-style: italic;
	position: absolute;
	color: white;
	text-shadow: 1px 1px 1px rgb(85, 85, 85);
}

#content {
	margin-top: 20px;
}

#footer {
	padding-top: 25px;
	border-top: 1px solid #d0d0d0;
}

#footer ul li {
	float: left;
	list-style: none;
}

#footer ul li a {
	font-size: 18px;
	font-weight: 700;
	margin-right: 25px;
	text-shadow: 1px 1px 1px #ffffff;
	text-transform: uppercase;
}

#footer .copyright {
	clear: both;
	background: transparent url(../img/cc.png) 0 0 no-repeat;
	padding: 0 0 10px 25px;
}