body {
	font-family: "myriad-pro", "Myriad Pro", "Myriad", Arial, sans-serif;
	font-size: 14px;
	color: #555555;
	background-color: #f3f3f3;
	line-height: 1.4em;
	text-shadow: 1px 1px 1px #fff;
}

a {
	text-decoration: none;
}

.section {
	clear: both;
	width: 100%;
}

#header {
	height: 50px;
}

#header a.logo {
	height: 100%;
	display: inline-block;
	text-align: center;
	position: absolute;
}

#header .tagline {
	display: inline-block;
	left: 125px;
	font-size: 20px;
	padding: 15px 0 0 0;
	font-style: italic;
	font-weight: bold;
	position: absolute;
}

#mast {
	background: url(../img/mast.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 300px;

	.wrapper {
		padding-top: 300px;
	}

	.headline {
		padding: 10px 10%;
		background: rgba(0, 0, 0, 0.5);
	}

	h2 {
		color: white;
		margin: 0;
		text-shadow: 1px 1px 1px #555;
		text-align: left;
	}
}

#content {
	padding: 20px 40px 150px 40px;
	background: white;
}

#phoneForm {
	border: 1px solid #04ACBE;
	border-radius: 4px;
	padding: 25px 40px 25px 40px;
}

#phoneForm input {
	height: 48px;
	font-size: 20px;
}

#phoneForm button {
	height: 47px;
	font-size: 20px;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #aaa;
}

.input-wrapper {
	position: relative;
	input { width: 100%; }

	.input-icon {
		font-size: 20px;
		position: absolute;
		right: 5px;
		top: 15px;
	}
	.error { color: red; }
	.valid { color: green; }
}

.faq {
	border-top: 1px solid #d0d0d0; 
	padding-top: 20px;
}

.script {
	text-align: left;
	font-family: monospace;
}

.share .btn {
	display: inline-block;
	margin: 0 20px;
	padding: 0;
	width: 200px;
	height: 60px;
	text-indent: -999em;

	&.facebook {
		background: url(../img/share-facebook.png) 0 0 no-repeat;
	}
	&.twitter { 
		background: url(../img/share-twitter.png) 0 0 no-repeat;
	}
}

#footer {
	padding: 40px 40px 0 40px;
	border-top: 1px solid #d0d0d0;
}

#footer ul li {
	float: left;
	list-style: none;
}

#footer ul li a {
	font-size: 18px;
	font-weight: 700;
	margin-right: 25px;
	text-shadow: 1px 1px 1px #ffffff;
	text-transform: uppercase;
}
