<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="SumOfUs">
    <meta property="og:title" content=""/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://www.stopthevampiresquid.org/"/>
    <meta property="og:image" content="http://www.stopthevampiresquid.org/img/share.jpg"/>
    <meta property="og:site_name" content="Petco: Stop the Vampire Squid"/>
    <meta property="fb:admins" content="701690" />
    <meta property="og:description" content=""/>
    
    <title>Petco: Stop the Vampire Squid</title>

    {% assets "scss_all" %}
    <link rel="stylesheet" type="text/css" href="{{FLASK_CDN}}{{ASSET_URL}}">
    {% endassets %}
    {% assets "js_all" %}
    <script type="text/javascript" src="{{FLASK_CDN}}{{ASSET_URL}}"></script>
    {% endassets %}
    <script src="//c.shpg.org/99/sp.js"></script>

    {% include '_includes/analytics.html' %}
    <link rel="icon" type="image/png" href="/static/img/favicon.ico">

</head>
<body>
  <div id="wrapper">
    <div id="header" class="section">
      <div class="container">
        <a href="http://sumofus.org/" class="logo">
          <img src="{{FLASK_CDN}}/static/img/logo-shadow.png" alt="SumOfUs">
        </a>
        <p class="tagline iphone-hidden">Fighting for people over profits</p>
      </div>
    </div>

    <div id="mast">
      <div class="wrapper">
        <div class="headline">
          <div class="container wrapper-container">
            <h2>Tell Petco to drop Goldman Sachs!</h2>
          </div>
        </div>
      </div>
    </div>

    <div class="container">    
      <div id="content">
        <h5><b>Can you call Petco’s CEO now and ask him to fire Goldman Sachs as the lead banker for its initial public offering?</b></h5>

        <form id="callForm" name="call" method="post" action="/submit">
            <input name="page" type="hidden" value="petco-goldman-sachs" />
            <input type="hidden" name="lists" value="1" />
            <input name="source" type="hidden" value="stopthevampiresquid.org" />
            <input name="akid" type="hidden" value="" />
            <input name="phone_type" type="hidden" value="" />

            <div class="row">
              <p>Unless Petco hears from you, it is going to let Goldman Sachs - the “vampire squid" - lead its foray into the stock market. Petco is expected to go public in the next couple of weeks, so we have to act fast. If loyal Petco customers from all over the country call Petco's CEO - James Myers - to express their concern, the CEO will have to listen &mdash; Petco's bottom line is at stake. </p>

              <p>Enter your number and we'll call you back for free. There'll be a little intro message and then we'll connect you to the office of Petco's CEO.</p>
            </div>

            <div class="row">
              <div class="two columns">
                <label for="name">Name</label>
              </div>
              <div class="nine columns">
                <input id="id_name" name="name" class="u-full-width" placeholder="your name" type="text" />
              </div>
            </div>

            <div class="row">
              <div class="two columns">
                <label for="email">Email</label>
              </div>
              <div class="nine columns">
                <div class="input-wrapper u-full-width">
                  <input id="id_email" name="email" placeholder="your email" type="email" required />
                  <i class="input-icon"></i>
                  <div class="help-text"></div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="two columns">
                <label for="phone">Phone</label>
              </div>
              <div class="nine columns">
                <div class="input-wrapper u-full-width">
                  <input id="id_phone" name="phone" placeholder="your phone number and area code" type="tel" required/><i class="input-icon"></i>
                  <div class="help-text"></div>
                </div>
              </div>

              <div class="row">
                <div class="eleven columns align-right">
                  <button type="submit" class="button-primary">Call</button>
                </div>
              </div>
            </div>
        </form>

        <p><em>Your call may only be answered Mon-Fri 9am-5pm.</em></p>

        <p class="legal small">SumOfUs will <a href="http://sumofus.org/privacy/" target="_blank">protect your privacy</a>, and keep you updated about this and similar campaigns.</p>
      </div>

      <div class="overlay">
        <div class="modal">
          <div class="inner scroll">
            <div class="content">
              <a class="btn close">&times;</a>
              {% include '_includes/call_modal_top.html' %}
              {% include '_includes/call_script.html' %}

              <h5>Tell us how it went!<br/>
              <a href="http://action.sumofus.org/a/petco-report-back/{%if akid%}?akid={{akid}}{%endif%}"> Click here to send us a message.</a></h5>

              <div class="row share">
                  <div class='btn sp_16160 sp_fb_large' ></div>
                  <div class='btn sp_16162 sp_tw_large' ></div>
                  <div class='btn sp_16163 sp_em_large' ></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="footer" class="container">
    <ul class="iphone-hidden">
      <li><a href="http://sumofus.org/">Home</a></li>
      <li><a href="http://sumofus.org/about">About</a></li>
      <li><a href="http://sumofus.org/privacy">Privacy Policy</a></li>
      <li><a href="http://sumofus.org/contact">Contact</a></li>
    </ul>
    <p class="copyright"><i class="icon-cc"></i> 2015 SumOfUs, <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution 3.0 Unported License</a>.</p>
  </div>

</body>
</html>
