<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="SumOfUs">
    <meta property="og:title" content=""/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://www.callforthereef.org/"/>
    <meta property="og:image" content="http://www.callforthereef.org/img/share.png"/>
    <meta property="og:site_name" content="Call For the Reef"/>
    <meta property="fb:admins" content="701690" />
    <meta property="og:description" content=""/>
    
    <title>Call For the Reef</title>

    {% assets "scss_all" %}
    <link rel="stylesheet" type=text/css href="{{ ASSET_URL }}">
    {% endassets %}
    {% assets "js_all" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <script src="//c.shpg.org/99/sp.js"></script>

    {% include '_includes/analytics.html' %}
    <link rel="icon" type="image/png" href="/static/img/favicon.ico">

</head>
<body>
  <div id="wrapper">
    <div id="header" class="section">
      <div class="container">
        <a href="http://sumofus.org/" class="logo">
          <img src="/static/img/logo-shadow.png" alt="SumOfUs">
        </a>
        <p class="tagline iphone-hidden">Fighting for people over profits</p>
      </div>
    </div>

    <div id="mast">
      <div class="wrapper">
        <div class="headline">
          <h2>Stop the Carmichael coal mine!</h2>
        </div>
      </div>
    </div>

    <div class="container">    
      <div id="content">
        <h5><b>Can you call Environment Minister Hunt’s office now and tell him to reject the mine for good?</b></h5>

        <form id="callForm" name="call" method="post" action="/submit">
            <input name="page" type="hidden" value="call-hunt-reef" />
            <input type="hidden" name="lists" value="1" />
            <input name="source" type="hidden" value="" />
            <input name="akid" type="hidden" value="" />

            <div class="row">
              <p>The Federal Court just overturned the approval of the Carmichael coal mine but in the next 6 to 8 weeks, it could be re-approved. We need to tell Environment Minister Greg Hunt to reject the mine for good.</p>

              <p>Enter your number and we’ll call and connect you to Environment Minister Hunt’s office now.</p>
            </div>

            <div class="row">
              <div class="two columns">
                <label for="name">Name</label>
              </div>
              <div class="nine columns">
                <input id="id_name" name="name" class="u-full-width" placeholder="your name" type="text" />
              </div>
            </div>

            <div class="row">
              <div class="two columns">
                <label for="email">Email</label>
              </div>
              <div class="nine columns">
                <input id="id_email" name="email" class="u-full-width" placeholder="your email" type="email" required/>
              </div>
            </div>

            <div class="row">
              <div class="two columns">
                <label for="phone">Phone</label>
              </div>
              <div class="nine columns">
                <div class="input-wrapper u-full-width">
                  <input id="id_phone" name="phone" placeholder="your phone number and area code" type="tel" required/><i class="input-icon"></i>
                  <div class="help-text"></div>
                </div>
              </div>

              <div class="row">
                <div class="eleven columns align-right">
                  <button type="submit" class="button-primary">Call</button>
                </div>
              </div>
            </div>
        </form>

        <p><em>Your call may only be answered Mon-Fri 9am-5pm.</em></p>

        <p class="legal small">SumOfUs will <a href="http://sumofus.org/privacy/" target="_blank">protect your privacy</a>, and keep you updated about this and similar campaigns.</p>

        <h6><a id="faq-toggle"><em>Questions about the Call?</em></a></h6>
          <div class="faq" style="display:none;">{%include '_includes/faq.html' %}</div>
      </div>

      <div class="overlay">
        <div class="modal">
          <div class="inner">
              <a class="btn close">&times;</a>
              {% include '_includes/call_modal_top.html' %}
              {% include '_includes/call_script.html' %}

              <div class="row share">
                  <a class="btn facebook" target="_blank" href="https://www.facebook.com/sharer.php?u=https://www.callforthereef.org">Facebook</a>
                  <a class="btn twitter" target="_blank" href="https://twitter.com/intent/tweet?text=">Twitter</a>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="footer" class="container">
    <ul class="iphone-hidden">
      <li><a href="http://sumofus.org/">Home</a></li>
      <li><a href="http://sumofus.org/about">About</a></li>
      <li><a href="http://sumofus.org/privacy">Privacy Policy</a></li>
      <li><a href="http://sumofus.org/contact">Contact</a></li>
    </ul>
    <p class="copyright"><i class="icon-cc"></i> 2015 SumOfUs, <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution 3.0 Unported License</a>.</p>
  </div>

</body>
</html>
